# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\UNI\4. Semester\Betriebssysteme und verteilte Systeme\Praktikum\CLionProjekte\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
